{% extends 'base.html' %}
<!-- 继承模板时，不需再加载静态文件，与static有关语法也应改回 -->

{% block header %}
<title>简约博客</title>
{% endblock %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <!-- 模板变量接收的为视图函数返回字典数值 -->
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>

                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ post.created_time }}">{{ post.created_time}}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }}评论</a></span>
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读</a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">空</div>
    {% endfor %}

    <!-- 分页功能已由django pure_pagination扩展完成 -->
    {% if is_paginated %}
        {{ page_obj.render }}
    {% endif %}

{% endblock main %}